body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F8F8F8 !important;
   
}
/*========reset css==========*/
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}
/*============main css style start from here===========*/
/*---------header section------------*/
/*----navbar style-----*/
.header{
  width: 100%;
  position: relative;
  height: 100% auto;
  
}
/*=======navbar-search btn style========*/
/*=======navbar style========*/
.navbar-nav li a{
	padding: .5rem 0rem;
	margin: 1rem 2rem;
	position: relative;
  font-size: 1rem !important;;
  font-weight: 700 !important;
}
.navbar-nav li a:after{
  content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #3CA7DB;
	left: 0;
  top: 2.3rem;
	transform: scaleX(0);
	transition: all .5s;
  opacity: .5;
 
}
.navbar-nav li a:before{
  content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #3CA7DB;
	left: 0;
  bottom:2rem;
	transform: scaleX(0);
	transition: all .5s;
  opacity: .5;
}
.navbar-nav li a::after{
	bottom: 0;
	transform-origin: left;
}
.navbar-nav li a:hover::before{
	transform: scaleX(1);
}
.navbar-nav li a:hover::after{
	transform: scaleX(1);
}
.navbar-nav  .active{
  color:#0391D3 !important;
}
.navbar-nav .nav-link:hover{
   color:#0391D3 !important; 
}
/*=======hero content=========*/
.hero{
  width: 100%;
  height:100% auto;
  
}
.hero-content{
  display: flex;
  justify-content: flex-start;
  width: 400px;
  margin:5rem auto;
 
}
.hero-col-first{
  position: relative;
}
.hero-content-style h3{
 font-size: 2rem;
 font-weight: 700;
}
.hero-content-style h3:after{
  content: 'Обходитесь без лишних затрат';
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-block: 1rem;
}
.INDESIT{
  color: #3ca7db;
}
.hero-btn{
  padding: .6rem 1rem;
  background: #3ca7db;
  border:2px solid #3ca7db;
  color: #fff;
  font-weight: 700;
  width: 200px;
  border-radius: 2rem;
  margin-block: 2rem;
  font-size: 14px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.hero-btn:hover{
  background: #F3393A;
  border:none;
  transition: .5s;
}
.hero-content-style p{
  width: 300px;
  color:#000000;
  
}
.star{
  color: red;
}
.hero-list ul{
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 0;
  bottom: 20px;
}
.hero-list ul li{
  margin: 0 1.5rem;
}
.hero-list ul li img {
  width: 10vw;
}
.group-col{
  background-repeat: no-repeat;
  background-size: cover;
}
/*================ABOUT SECTION==============*/
.about-section{
  width: 100%;
  height: 100% auto;
  margin-block: 10rem;
}
.about-detail{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.about-detail h2{
  font-size: 1.5rem;
  color: #5C5C5C;
}
.about-detail h2:after{
  content:'Свяжитесь с менеджером по телефону +7 (778) 065-12-46 или';
  display: block;
  font-size: 14px;
  text-align: right;
  color: #5C5C5C;
}
.about-detail .about-btn{
  text-align: center;
  background: #3ca7db;
  border:2px solid #3ca7db;
  color: #fff;
  font-weight: 700;
  width: 200px;
  border-radius: 2rem;
  height: 3rem;
  font-size: 14px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.banner-content{
  max-width: 500px;
  margin:50px auto;
 }
 .banner-content h3{
   font-size: 2rem;
   color:#fff;
 }
 .banner-content p{
   color:#D3E8E0;
 }
 .banner-content .about-btn{
   background: #3ca7db;
   border:2px solid #3ca7db;
   color: #fff;
   font-weight: 700;
   width: 180px;
   border-radius: 2rem;
   height: 2.5rem;
   font-size: 14px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 .about-image{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about-image img{
 position: absolute;
}
.about-image img:first-child{
  left: 150px;
  bottom: 0;
  width: 15rem;
}
.about-image img:last-child{
  right: 150px;
  bottom: 0;
  width: 15rem;
}
/*================SERVICES SECTION==============*/
.services-section{
  width: 100%;
  height: 100% auto;
  margin-block:10rem;
}
.services-section h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 5rem;
 }
 .services-section .single-service-box{
   border:1px solid #3ca7db;
 }
 .single-service-box{
   display: flex;
   justify-content:center;
   align-items: center;
   position: relative;
   
 }
.single-service-box:after{
  content: 'one';
  display: block;
  background: #3ca7db;
  padding: 1rem;
  position: absolute;
  left: -1rem;
  top:-3rem;
  padding-bottom:2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
 .single-service-box h5{
   font-size: 1.2rem;
   font-weight: 600;
 }
 .single-service-box img{
  width: 3rem;
  margin-left: 1rem;
}
 .single-service-box .service-content{
  margin-left: 2rem;
 }
 .single-service-box .service-content h5{
 line-height: 1px;
 margin-top: 2rem;
 }
.single-service-box .service-content p{
  max-width: 250px;
  color:#AFAFAF;
}