
/*==================screen size 991==================*/
@media only screen and (max-width: 991px){
  /*=====NAVBAR====*/
  .nav-item{
    text-align: center;
  }
  /*==================HEADERE SECTION HERO==================*/
  .hero-content{
    width: 60%;
  }
  .hero-content-style{
    width: 100%;
    text-align: center;
    
  }
  .hero-content-style h3{
    font-size: 3rem;
  }
  .hero-content-style p{
    margin: auto;
  }
  .hero-btn{
    margin-block: 1rem;
  }
 /*========ABOUT SECTION======*/
 .about-section{
   margin-top: 5rem;
 }
 .about-detail{
  padding-block: 2rem !important;
  text-align: center !important;
}
.about-detail h2:after{
  text-align: center;
}

.banner-content{
  text-align: center;
  font-size: 10px;
}
.about-image{
  height: 25vh;
  margin-top: 8rem !important;
} 
.about-image img{
  width: 15rem !important;
}
/*========SERVICE SECTION======*/
.service-second-row{
  margin-top: 5rem;
}
} 

/*==================screen size 767==================*/
@media only screen and (max-width: 767px){
  /*==================SERVICES SECTION==================*/
  .single-service-box{
    margin-block: 2rem;
  }
  .service-second-row{
    margin-top: 1rem !important;
  }
}


    /*==================screen size 515==================*/
    @media only screen and (max-width: 515px){
      /*==================HEADERE SECTION HERO==================*/
      .hero-content-style h3{
      font-size: 1.2rem;
      margin-top: -50px;
    }
    .hero-btn{
      padding: .3rem .5rem;
      width: 150px;
      font-size: .7rem;
    }
    .hero-content-style p{
      font-size: 12px;
      width: 150px !important;
    }
  }
  @media only screen and (max-width: 390px){
    .about-image img{
      width: 12rem !important;
    }
  }







